#label-info {
    -fx-font-size: 10px;
}

#path-labels {
    -fx-font-size: 16px;
    -fx-border-color: "gray";
    -fx-text-fill: "GRAY";
    -fx-border-radius: 2px;
}

#label-number {
    -fx-font-size: 16px;
    -fx-text-fill: "GRAY";
    -fx-font-family: "ARIAL BLACK";
}